#rnmmt_event_filter_select {
  line-height: 2em;
}
#rnmmt_plugin_settings .rnmmt_styles label {
  width: 15em;
}
.rnmmt_colour_thumb {
  width: 25px;
  height: 25px;
  float: left;
  display: inline-block;
  background-color: white;
  border: solid white 1px;
  margin: 1px;
}
